@page "/customers"
@using CustomerPartsTracker.Shared.Models
@attribute [Authorize]

<CustomSnackbar @ref="customSnackbar" />

<DataGrid TItem="Customer" Data="@customers"
          Filterable="true" FilterMethod="DataGridFilterMethod.Contains"
          Editable="true" EditMode="DataGridEditMode.Form" UseInternalEditing="true" CommandMode="DataGridCommandMode.ButtonRow"
          ShowPager="true" PagerPosition="DataGridPagerPosition.Top" ShowPageSizes="true" PageSize="10"
          @bind-SelectedRow="@selectedCustomer"
          NewItemDefaultSetter="@(customer => customer = new Customer())"
          RowInserted="@(async e => await Post(e.Item))" RowUpdated="@(async e => await Post(e.Item))"
          Sortable="true" Hoverable="true">
    <DataGridColumns>
        <DataGridCommandColumn TItem="Customer">
            <NewCommandTemplate>
                <Button Color="Color.Success" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </NewCommandTemplate>
            <EditCommandTemplate>
                <Button Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </EditCommandTemplate>
            <SaveCommandTemplate>
                <Button Color="Color.Success" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </SaveCommandTemplate>
            <CancelCommandTemplate>
                <Button Color="Color.Secondary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </CancelCommandTemplate>
        </DataGridCommandColumn>
        <DataGridNumericColumn TItem="Customer" Field="@nameof(Customer.Id)" Caption="@(nameof(Customer.Id).ToUpper())" Editable="false" />
        <DataGridColumn TItem="Customer" Field="@nameof(Customer.Name)" Caption="@nameof(Customer.Name)" Editable="true" Validator="@ValidateCustomer" />
    </DataGridColumns>
    <ButtonRowTemplate>
        <Buttons>
            <Button Color="Color.Secondary" Clicked="@context.NewCommand.Clicked">Add</Button>
            <Button Color="Color.Secondary" Clicked="@context.EditCommand.Clicked" Disabled="@(selectedCustomer is null)">@context.EditCommand.LocalizationString</Button>
        </Buttons>
    </ButtonRowTemplate>
</DataGrid>